* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 33%;
  left: -3%;
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  background-color: #fff !important;
  z-index: 3;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15); }
  .owl-prev span,
  .owl-next span {
    color: #007791;
    font-size: 40px;
    font-weight: normal;
    line-height: 0.6; }
  .owl-prev:focus,
  .owl-next:focus {
    outline: none; }

.owl-next {
  left: unset;
  right: -3%; }

.btn__white {
  color: 15px;
  font-size: 600;
  font-weight: #686f7a;
  background-color: #fff;
  border: 1px solid #686f7a;
  padding: 11px 12px; }
  .btn__white:hover {
    background-color: #fff;
    border: 1px solid black;
    color: black; }

.btn__red {
  color: 15px !important;
  font-size: 600 !important;
  font-weight: #fff !important;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  padding: 11px 12px; }
  .btn__red:hover {
    background-color: #992337;
    border: 1px solid transparent;
    color: #fff; }

.header {
  border-bottom: 1px solid #cacbcc; }
  .header .navbar-brand {
    flex-grow: 1; }
    .header .navbar-brand img {
      width: 110px;
      height: 100%; }
  .header .catogories {
    color: #505763;
    font-size: 13px;
    font-weight: normal;
    align-self: center;
    flex-grow: 1; }
  .header .input__search {
    flex-grow: 5; }
    .header .input__search .input-group {
      background-color: #f2f3f5;
      border: 1px solid #f2f3f5; }
      .header .input__search .input-group .form-control {
        background-color: transparent;
        border: 1px solid transparent; }
        .header .input__search .input-group .form-control:focus {
          outline: none;
          box-shadow: none;
          background-color: #fff;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff; }
          .header .input__search .input-group .form-control:focus + .input-group-append .input-group-text {
            background-color: #fff;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff; }
            .header .input__search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
              color: #fff;
              background-color: #ec5252;
              border: 1px solid #ec5252; }
      .header .input__search .input-group .input-group-text {
        background-color: transparent;
        border: 1px solid transparent;
        color: #ec5252; }
    .header .input__search .input-group-text:hover {
      cursor: pointer;
      background-color: #ec5252;
      border: 1px solid #ec5252;
      color: #fff; }
  .header .navbar-nav {
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    .header .navbar-nav .nav-item .nav-link {
      color: #505763;
      font-size: 13px;
      font-weight: normal; }
    .header .navbar-nav .nav-item:hover {
      background-color: rgba(20, 23, 28, 0.05); }
    .header .navbar-nav .nav-item:nth-child(2) {
      border-right: 1px solid #cacbcc; }
    .header .navbar-nav .nav-item:nth-child(3) {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center; }
  @media screen and (max-width: 1200px) {
    .header .bussiness,
    .header .instructor {
      display: none; } }
  @media screen and (max-width: 768px) {
    .header .catogories,
    .header .input__search {
      display: none; }
    .header .navbar-nav {
      display: flex; } }

.cover {
  background-image: url("../img/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative; }
  .cover .cover__content {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 32%; }
    .cover .cover__content h1 {
      color: #fff;
      font-size: 40px;
      font-weight: bold; }
    .cover .cover__content p {
      color: #fff;
      font-size: 18px;
      font-weight: normal; }
    .cover .cover__content .cover__search .input-group {
      background-color: #fff;
      border: 1px solid #f2f3f5; }
      .cover .cover__content .cover__search .input-group .form-control {
        background-color: transparent;
        border: 1px solid transparent; }
        .cover .cover__content .cover__search .input-group .form-control:focus {
          outline: none;
          box-shadow: none;
          background-color: #fff;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff; }
          .cover .cover__content .cover__search .input-group .form-control:focus + .input-group-append .input-group-text {
            background-color: #fff;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff; }
            .cover .cover__content .cover__search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
              color: #fff;
              background-color: #ec5252;
              border: 1px solid #ec5252; }
      .cover .cover__content .cover__search .input-group .input-group-text {
        background-color: transparent;
        border: 1px solid transparent;
        color: #ec5252; }
    .cover .cover__content .cover__search .form-control {
      padding: 20px; }
      .cover .cover__content .cover__search .form-control::placeholder {
        color: #a1a7b3;
        font-size: 20px;
        font-weight: normal; }
    .cover .cover__content .cover__search .input-group-append .input-group-text:hover {
      cursor: pointer;
      background-color: #ec5252;
      border: 1px solid #ec5252;
      color: #fff; }

.intro {
  background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%); }
  .intro .intro__content {
    width: 80%;
    margin: 0 auto;
    padding: 10px; }
    .intro .intro__content .intro__items .intro__icon {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      margin-right: 25px; }
    .intro .intro__content .intro__items .intro__p {
      padding-top: 10px; }
      .intro .intro__content .intro__items .intro__p p:first-child {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 0; }
      .intro .intro__content .intro__items .intro__p p:last-child {
        color: #fff;
        font-size: 15px;
        font-weight: normal; }

.course {
  margin-top: 25px; }
  .course .course__content {
    width: 80%;
    margin: 0 auto; }
    .course .course__content .course__intro h2 {
      color: #29303b;
      font-size: 36px;
      font-weight: normal;
      padding-top: 4rem; }
    .course .course__content .course__tab .nav {
      justify-content: space-between;
      border: none; }
      .course .course__content .course__tab .nav .nav-item:hover .nav-link {
        border: none; }
      .course .course__content .course__tab .nav .nav-item .nav-link.active {
        border: none;
        border-bottom: 5px solid #007791; }
      .course .course__content .course__tab .nav .nav-item .nav-link {
        color: #29303b;
        font-size: 15px;
        font-weight: normal;
        border: none; }
    .course .course__content .course__tab .tab-content {
      margin-top: 25px;
      position: relative; }
      .course .course__content .course__tab .tab-content .card-title {
        color: #29303b;
        font-size: 15px;
        font-weight: bold; }
      .course .course__content .course__tab .tab-content .card-text {
        color: #686f7a;
        font-size: 13px;
        font-weight: normal; }
      .course .course__content .course__tab .tab-content .raiting {
        display: flex; }
        .course .course__content .course__tab .tab-content .raiting .raiting__start {
          color: #F4C150;
          font-size: 13px;
          font-weight: normal;
          margin-right: 2px; }
        .course .course__content .course__tab .tab-content .raiting span:nth-child(2) {
          color: #686f7a;
          font-size: 13px;
          font-weight: bold; }
        .course .course__content .course__tab .tab-content .raiting span:last-child {
          color: #686f7a;
          font-size: 13px;
          font-weight: normal; }
      .course .course__content .course__tab .tab-content .price {
        text-align: right; }
        .course .course__content .course__tab .tab-content .price .old-price {
          color: #686f7a;
          font-size: 13px;
          font-weight: normal;
          text-decoration: line-through; }
        .course .course__content .course__tab .tab-content .price .new-price {
          color: #29303b;
          font-size: 15px;
          font-weight: bold; }

.viewing .viewing__content {
  width: 90%;
  margin: 0 auto; }
  .viewing .viewing__content .card-title {
    color: #29303b;
    font-size: 15px;
    font-weight: bold; }
  .viewing .viewing__content .card-text {
    color: #686f7a;
    font-size: 13px;
    font-weight: normal; }
  .viewing .viewing__content .raiting {
    display: flex; }
    .viewing .viewing__content .raiting .raiting__start {
      color: #F4C150;
      font-size: 13px;
      font-weight: normal;
      margin-right: 2px; }
    .viewing .viewing__content .raiting span:nth-child(2) {
      color: #686f7a;
      font-size: 13px;
      font-weight: bold; }
    .viewing .viewing__content .raiting span:last-child {
      color: #686f7a;
      font-size: 13px;
      font-weight: normal; }
  .viewing .viewing__content .price {
    text-align: right; }
    .viewing .viewing__content .price .old-price {
      color: #686f7a;
      font-size: 13px;
      font-weight: normal;
      text-decoration: line-through; }
    .viewing .viewing__content .price .new-price {
      color: #29303b;
      font-size: 15px;
      font-weight: bold; }

.categories {
  padding: 30px 0; }
  .categories .categories__content {
    width: 90%;
    margin: 0 auto; }
    .categories .categories__content .categories__item {
      padding: 20px 15px;
      margin-top: 15px;
      box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
      border: none;
      color: #14171c;
      font-size: 17px;
      font-weight: normal;
      transition: all 0.5s; }
      .categories .categories__content .categories__item i {
        margin-right: 10px;
        font-size: 24px; }
      .categories .categories__content .categories__item:hover {
        box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
        cursor: pointer; }

.students {
  background-color: #F7F8FA;
  margin-top: 15px; }
  .students .students__content {
    width: 90%;
    height: 100%;
    margin: 0 auto; }
    .students .students__content h3 {
      padding: 25px 0;
      color: #29303b;
      font-size: 24px;
      font-weight: bold; }
    .students .students__content .students__item {
      background: #fff;
      padding: 20px 0;
      height: 250px;
      border-radius: 3px;
      box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.15); }
      .students .students__content .students__item .students__inside {
        width: 85%;
        margin: 0 auto; }
        .students .students__content .students__item .students__inside .student__img {
          width: 64px;
          height: 64px;
          line-height: 64px;
          border-radius: 50%;
          background-color: #686f7a;
          display: inline-block;
          text-align: center;
          color: #29303b;
          font-size: 16px;
          font-weight: bold; }
        .students .students__content .students__item .students__inside img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          display: inline; }
        .students .students__content .students__item .students__inside span {
          margin-left: 10px;
          color: #29303b;
          font-size: 16px;
          font-weight: bold; }
        .students .students__content .students__item .students__inside p {
          margin-top: 15px;
          color: #29303b;
          font-size: 16px;
          font-weight: normal;
          line-height: 1.5em; }
  .students .student__trusted {
    padding: 50px 0;
    text-align: center;
    width: 60%;
    margin: 0 auto; }
    .students .student__trusted h6 {
      color: #29303b;
      font-size: 13px;
      font-weight: normal;
      padding: 30px; }
  .students .student__udemy {
    width: 85%;
    margin: 0 auto;
    text-align: center; }
    .students .student__udemy .trusted__item {
      padding: 28px 30px; }
      .students .student__udemy .trusted__item .trusted__inside {
        width: 100%;
        margin: 0 auto; }
        .students .student__udemy .trusted__item .trusted__inside a {
          color: #29303b;
          font-size: 19px;
          font-weight: bold;
          text-decoration: none; }
        .students .student__udemy .trusted__item .trusted__inside button {
          color: white; }
        .students .student__udemy .trusted__item .trusted__inside:first-child {
          border-right: 1px solid #dedfe0; }
  @media screen and (max-width: 576px) {
    .students .trusted__item:first-child {
      border-bottom: 1px solid #dedfe0;
      border-right: none !important; } }

/*# sourceMappingURL=main.css.map */
